.ourteam-wrapper {
    margin: 0 auto;
}

.ourteam-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ourteam-mainheading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 100px;
    padding-top: 100px;
}

.ourteam-head-heading {

    font-size: 65px;
    margin: 0;
    font-weight: 800;
}

.ourteam-mainpara {
    text-align: center;
    font-size: 19px;
    font-weight: 500;
}

.ourteam-mainImage{
    max-width: 100%;
    height: auto;
    margin-bottom: -5px;
    margin-top: 40px;
}

.team-members-container {
    position: relative; /* Make sure the container is relatively positioned */
  }

  .location-icon {
    position: absolute; /* Position the icons absolutely within the container */
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  @media screen and (max-width: 768px) {
    .team-members-container {
      position: static; /* Reset position for mobile */
    }
  
    .location-icon {
      position: static; /* Reset position for mobile */
    }

    .ourteam-head-heading {

        font-size: 30px;
        margin: 0;
        font-weight: 800;
    }
    
    .ourteam-mainpara {
        text-align: center;
        font-size: 12px;
        font-weight: 500;
    }

    

  }

  @media screen and (max-width:500px){
    .ourteam-mainheading {
        padding-bottom: 20px;
        padding-top: 100px;
    }
  }



